*/autoload
# */bundle
.*.cache
procps
*vendor*
configstore/update-notifier-npm*
nvim/lua-language-server
iterm2
karabiner/automatic_backups
bin/jDownload*
composer/auth.json
configstore/*tuya*
mosquitto_pub
