<?xml version="1.0"?>
<ruleset xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" name="WordPress Coding Standards" xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/squizlabs/PHP_CodeSniffer/master/phpcs.xsd">

	<description>The Coding standard for the WordPress Coding Standards itself.</description>

	<!--
	#############################################################################
	COMMAND LINE ARGUMENTS
	https://github.com/squizlabs/PHP_CodeSniffer/wiki/Annotated-Ruleset
	#############################################################################
	-->

	<!-- Exclude Composer vendor directory. -->
	<exclude-pattern>*/vendor/*</exclude-pattern>

	<!-- Exclude the Node Modules directory. -->
	<exclude-pattern>/node_modules/*</exclude-pattern>

	<!-- Exclude minified Javascript files. -->
	<exclude-pattern>*.min.js</exclude-pattern>

	<!-- Only check PHP files. -->
	<arg name="extensions" value="php"/>

	<!-- Show progress, show the error codes for each message (source). -->
	<arg value="ps"/>

	<!-- Strip the filepaths down to the relevant bit. -->
	<arg name="basepath" value="."/>

	<!-- Check up to 8 files simultaneously. -->
	<arg name="parallel" value="8"/>

	<!-- Show colors in console -->
	<arg name="colors"/>

	<arg name="cache" value="./.phpcs.cache"/>

	<!-- Show sniff codes in all reports -->
	<arg value="ns"/>

	<arg name="severity" value="1"/>

	<!--
	#############################################################################
	SET UP THE RULESETS
	#############################################################################
	-->

	<!-- Include the WordPress-Extra standard. -->
	<rule ref="WordPress-Extra">
		<type>warning</type>
	</rule>

	<!-- Let's also check that everything is properly documented. -->
	<rule ref="WordPress-Docs">
		<type>warning</type>
	</rule>


	<!-- Add in some extra rules from other standards. -->
	<rule ref="Generic.PHP.DeprecatedFunctions"/>
	<rule ref="Generic.CodeAnalysis.UnusedFunctionParameter"/>
	<!-- <rule ref="Generic.Commenting.Todo"/> -->

	<rule ref="WordPress.Arrays.MultipleStatementAlignment">
		<properties>
			<property name="alignMultilineItems" value="!=100"/>
			<property name="exact" value="false" phpcs-only="true"/>
		</properties>
	</rule>

	<rule ref="WordPress">
		<!-- Ignore WP filename standards -->
		<exclude name="WordPress.Files.FileName"/>

		<!-- Allow "self::get_prefix()" to work as a valid plugin prefix -->
		<exclude name="WordPress.NamingConventions.PrefixAllGlobals.InvalidPrefixPassed"/>

		<exclude name="Squiz.Commenting.FunctionComment.ParamCommentFullStop"/>
		<exclude name="Squiz.Commenting.FileComment.MissingPackageTag"/>
		<exclude name="Squiz.Commenting.InlineComment.InvalidEndChar"/>
		<exclude name="Squiz.PHP.CommentedOutCode.Found"/>
		<exclude name="Generic.Commenting.DocComment.MissingShort" />
	</rule>

	<!-- Enforce PSR1 compatible namespaces. -->
	<rule ref="PSR1.Classes.ClassDeclaration"/>

	<!--
	#############################################################################
	SNIFF SPECIFIC CONFIGURATION
	#############################################################################
	-->

	<rule ref="WordPress.Arrays.MultipleStatementAlignment">
		<properties>
			<property name="alignMultilineItems" value="!=100"/>
			<property name="exact" value="false" phpcs-only="true"/>
		</properties>
	</rule>

	<config name="minimum_supported_wp_version" value="6.0"/>

	<rule ref="WordPress.NamingConventions.PrefixAllGlobals">
		<properties>
			<property name="prefixes" type="array">
				<element value="fo_"/>
				<element value="fo_settings"/>
				<element value="_fo_"/>
				<element value="shop_by_room_"/>
				<element value="shop_by_item_"/>
				<element value="furniture_packages_"/>
				<element value="self::get_prefix()"/>
			</property>
		</properties>
	</rule>
</ruleset>
