ServerAliveInterval 60

Host lloydnet.org
Host amazon
	HostName lloydnet.org
	User glandix




# setup shortcut domains
Host mws
	HostName mws1.transitionsgroup.net
	User jkaufman
Host mws1
	HostName mws1.transitionsgroup.net
	User jkaufman

Host dev
	HostName tgdev1.transitionsgroup.net
	User jkaufman

# set username for all other TG domains
Host *.viciniti.com
Host *.execustaymidwest.com
Host *.furnitureoptions.com
Host *.transitionsgroup.net
	User jkaufman


# all simple hostnames map to TG
Host * !*.*
	User jkaufman
	HostName %h.transitionsgroup.net

# any hostname with a dot we don't want to get caught
# in the last rule
Host *
	User glandix
	HostName %h
